@use '../../../scss/' as *;

.volunteer-annual-event-container {
    .volunteer-annual-event-item-spacer-container {
        padding: $spacing-075rem;
    }
    .volunteer-annual-event-item-container {
        padding-left: $spacing-05rem;
        .volunteer-annual-event-item-title-container {
            color: $color-primary;
            font-size: $font-size-15;
            padding-bottom: $spacing-05rem;
        }
        .volunteer-annual-event-item-body-container {
        }
    }
}

.volunteer-pdf-container {
    margin: $spacing-15rem;
    margin-bottom: $spacing-4rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    color: $color-link;
    font-size: $font-size-1;
    .volunteer-pdf-icon-container {
        margin-top: $spacing-025rem;
    }
    .volunteer-pdf-text-container {
        padding-left: $spacing-025rem;
        text-decoration: underline;
        font-weight: $weight-medium;
    }
}
