.mobile-event-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
}
.event-contact {
    .booking-contact-container {
        margin-right: 0;
    }
}
.h2-title {
    .description-body-title-container {
        font-weight: 300;
    }
}