@use '../../scss' as *;

.article-nav-container {
    background-color: $color-article-right-gutter;
    border-radius: 5px;
    margin-top: $spacing-3rem;
    margin-left: $spacing-2rem;
    display: flex;
    flex-direction: column;
    max-width: 13rem;
    .article-timeline {
        width: 3px;
        background-color: $color-gray;
        border-radius: 3px;
    }

    .article-nav-title {
        padding-bottom: $spacing-1rem;
        font-size: $font-size-15;
        font-weight: $weight-thick;
        color: $color-title-gray;
    }

    .article-timeline-container {
        display: flex;
        gap: $spacing-1rem;
    }

    .article-nav-items {
        display: flex;
        flex-direction: column;
        font-weight: $weight-regular;
        color: $color-gray-text;
        font-size: $font-size-1;
        padding-top: $spacing-05rem;
        padding-bottom: $spacing-05rem;
        
        cursor: pointer;
        user-select: none;
    }

    .article-nav-item {
        padding-bottom: $spacing-1rem;
        a {
            font-weight: 400;
            color: rgb(145, 145, 145);
        }
        a:hover {
            color: rgb(70, 70, 70);
        }
    }

    .article-nav-divider {
        margin-top: $spacing-2rem;
        margin-bottom: $spacing-2rem;
        width: 70%;
        height: 1px;
        background-color: $color-gray;
    }
    ul.topics-items {
        margin-top: $spacing-05rem;
    }
    .topics-items {
        color: $color-gray-text;
        font-weight: $weight-regular;
        padding-left: $spacing-1rem;

        & li {
            text-decoration: underline;
            padding-bottom: $spacing-05rem;
            & a{
                cursor: pointer;
                color: $color-gray-text;
                &:hover {
                    color: rgb(80, 80, 80)
                }
            }
        }
    }

    .topics-title {
        font-weight: $weight-medium;
        font-size: $font-size-15;
        color: $color-gray-text;
    }
}
