@use '../../scss' as *;

.app-container {
  position: relative;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: $weight-thin;

  // overflow-x: hidden !important;

  min-width: 343px;
}

body.modal-open {
  margin-right: 10px;
}


a {
  position: relative;
  text-decoration: none;
  color: $default-font;
}



.App {
  text-align: center;
  color: red;
}

.test-height {
  min-height: 120vh;
}
