@use '../../scss' as *;

.app-container {
  position: relative;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-weight: $weight-thin;

  // overflow-x: hidden !important;

  min-width: 343px;
}

body.modal-open {
  margin-right: 10px;
}


a {
  position: relative;
  text-decoration: none;
  color: $default-font;
}



.App {
  text-align: center;
  color: red;
}

.mobile-content-container {

}

.red-button {
  transition: $transition-fast;
}

.red-button:hover {
  background-color: $color-link-hover !important;
  box-shadow: $card-shadow;
}

.red-button:active {
  box-shadow: $card-shadow inset;
}
.arrow-n-text {
  span {
    transition: $transition-fast ease-out;
  }

  &:hover {
    span {
      margin-right: $spacing-05rem;
      margin-left: $spacing-05rem;
    }
  }
}