@use '../../scss' as *;

.desktop-article-container {
    width: 100%;
    height: 100%;
    
    .desktop-article-header-container {
        position: relative;
        width: 100%;
        background-color: $color-primary;
        display: flex;
    }

    .left-container {
        flex: 7;
    }

    .text-container {
        width: 19rem;
    }

    .desktop-title {
        position: absolute;
        font-size: 16rem;
        font-weight: $weight-thick;
        color: $color-white;
        opacity: .1;
        white-space: nowrap;
        left: -$spacing-3rem;
        bottom: 6rem;
        user-select: none;
    }

    .right-container {
        z-index: 4;
        flex: 5;
        background-color: $color-article-header-background;
        display: flex;
        flex-direction: column;
        padding-left: $spacing-2rem;
        padding-top: $spacing-3rem;
        padding-bottom: $spacing-4rem
        
    }

    .header-blurb-title {
        color: $color-gray;
        padding-bottom: $spacing-1rem;
    }

    .header-blurb {
        color: $color-white;
    }



    .desktop-article-body-container {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .article-left-buffer {
        background-color: $color-article-left-gutter;
        flex: 1;
        max-width: clamp(3rem, 5vw, 7rem);
    }

    .article-content-body {
        position: relative;
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-12rem;

        display: flex;
        justify-content: center;
        
        padding-bottom: $spacing-5rem;
    }

    .article-content {
        width: 68%;
        position: relative;
        font-weight: $weight-regular;
        margin-top: $spacing-4rem;
    }

    .article-right-buffer {
        background-color: $color-article-right-gutter;
        flex: 2;
    }

    .back-nav-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: $spacing-1rem;
    }
}

.article-nav-sticky {
    transition: $transition-default;
}
