@use '../../scss' as *;

    .navbar-container.desktop{
        padding: $spacing-05rem $spacing-4rem $spacing-025rem $spacing-4rem;
          
    }

    .menu-cover {
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    
    .side-menu, .side-menu.desktop {
        z-index: 9998;
    }

    .desktop-nav-links.desktop {
        display: flex;
        justify-content: center;
        align-items: top;

        font-size: $font-size-15;
        font-weight: $weight-regular;
        gap: $spacing-1rem;
        margin-right: $spacing-3rem;
        padding-bottom: $spacing-05rem;

        & a {
            color: $color-black;
            transition: $fast-transition;
            &:hover {
                color: $color-gray;
            }
        }
        
    }

    
    .right-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-button.desktop {
        z-index: 9999;
        transition: color $default-transition, transform $slow-transition;
    }

    .nav-button.desktop.active {
        color: $color-white;
        transform: translate(2rem, 1rem);
    }

    .side-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        padding: $spacing-3rem 0 0 $spacing-2rem;
    
        overflow-y: hidden;
        background-color: $color-primary;
    
        transform: translateX(100%);
        transition: transform $default-transition, opacity $default-transition;
        opacity: 0;
    }
    
    .side-menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    
    .nav-menu-sticky {
        position:sticky;
        right: 0;
        top: 0;
    }
    


