@use '../../scss' as *;

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: $spacing-025rem $spacing-1rem $spacing-025rem $spacing-1rem;
        box-shadow: $header-shadow;
    }

    .nav-button {
        z-index: 9999;
        transition: color $default-transition;
    }

    .nav-button.active {
        color: $white;
    }
    
    .side-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        padding: $spacing-25rem 0 0 $spacing-2rem;
    
        overflow-y: hidden;
        background-color: $primary-color;
    
        transform: translateX(100%);
        transition: transform $default-transition, opacity $default-transition;
        opacity: 0;
    }
    
    .side-menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    

    .side-nav-links {
        display: flex;
        flex-direction: column;
        gap: $spacing-05rem;

        & a {
            color: $white;
        }
        font-size: $font-size-15;
    }

    .side-divider {
        width: 75%;
        height: 1px;
        background-color: $white;
    }

    .links-side-menu {
        display: flex;
        flex-direction: column;
        gap: $spacing-15rem;

        width: 225px;
        
    }

    .side-contact{
        display: flex;
        align-items: top;
        gap: $spacing-075rem;

        color: $white;
        font-size: $font-size-1;
    }

    .side-cotact-logo {
        color: $white;
        font-size: $font-size-15;
    }

    .side-contact-link {
        text-decoration: underline;
        white-space: pre-wrap;
    }

    .side-contact-container {
        display: flex;
        flex-direction: column;
        gap: $spacing-1rem;
    }

    .side-footer {
        margin-top: $spacing-1rem;
        color: $gray;
        display: flex;
        flex-direction: column;
        gap: $spacing-05rem;

        .side-email {
            text-decoration: underline;
            font-size: $font-size-086;
        }

        .side-footer-text {
            white-space: pre-wrap;
            font-size: $font-size-086;
        }
    }

    .mobile.app-logo {
        padding-top: $spacing-05rem;
    }
