@use '../../scss' as *;

.side-menu, .side-menu.desktop {
    z-index: 9998;
}

.menu-cover {
    z-index: 9990;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.all-nav-container {
    position: relative;
}

.navbar-container {
    z-index: 9990;
}

.navbar-container * , .side-menu .side-nav-links *{
    user-select: none;
}

.navbar-master-container {
    transition: $transition-medium ease-in-out;
}

.navbar-master-container.hide-nav {
    opacity: 0;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(0%);
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9990;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }

  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }
  
