@use '../../scss' as *;

.side-menu, .side-menu.desktop {
    z-index: 9998;
}

.menu-cover {
    z-index: 9990;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.all-nav-container {
    position: relative;
}