
.article-extra-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 68%;
    .volunteer-pdf-container {
        margin-left: 0;
    }
    .carousel-container {
        width: 140%;
    }

    .mobile-content-container .mobile-content-body {

        max-width: 100%;
        margin-top: -2rem;
        .description-body-title-container {
            font-size: 4rem;
            margin-left: -.5rem;
        }
        .description-body-container, .booking-contact-container {
            width: 650px;
        }
    }
    
}
.carousel-container {
    margin-top: 1rem;
}

.carousel-title-container {
    margin-top: 1rem;
}

.volunteer-pdf-text-container {
    & a {
        color: #570B0B;
    }
}

@media (min-width: 768px) {
.booking-contact-container {
    margin-left: 0;
}

.booking-contact-container .booking-contact-body-container {
    margin-left: 0;
}

.booking-contact-body-text {
    font-weight: 400 !important;
    line-height: 1.6em; 
}

.heading-text-h2 {
    margin-bottom: 0 ;
}
}