@use '../../scss' as *;

.event-brite-card-container {
    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
    }
    background-image: url(../../../public/assets/events_pic.png);
    background-size: cover; // This will make the image cover the entire container
    background-position: center; // This centers the background image
    background-repeat: no-repeat; 
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: $shadow-card;
    border-radius: 25px;
    padding: 6rem 2rem 5.5rem 2rem;
    .event-brite-title {
        font-weight: bold;
        font-size: $font-size-3;
        color: #ffffff;
    }
    .event-brite-button {
        cursor: pointer;
        background-color: #e33636;
        &:hover {
            background-color: #c82838;
        }
        color: white;
        font-weight: $weight-medium;
        font-size: $font-size-1;
        padding: .75rem 2.5rem .75rem 2.5rem;
        border-radius: 4px;
        transition: background-color 250ms;
    }

    .event-brite-contact-container {
        display: flex;
        
        justify-content: center;
        align-items: center;
        font-weight: $weight-medium;
        gap: 1rem;
    }
    .event-brite-contact {
        cursor: pointer;
        color: #ffffff;
        padding: .75rem 2.5rem .75rem 2.5rem;
        border-radius: 4px;
        transition: background-color 250ms;
        &:hover {
            background-color: rgba(145, 145, 145, 0.53);
            
        }
    }
    .event-brite-caption {
        margin-top: 1rem;
        user-select: none;
        color: rgb(186, 186, 186);
    }
    .bold {
        color: white;
        text-decoration: underline;
        font-weight: $weight-thick;
    }
}