$default-font: 1rem;
$font-size05: .5rem;
$font-size12: 1.2rem;
$font-size15: 1.5rem;
$font-size175: 1.75rem;
$font-size18: 1.8rem;
$font-size-2: 2rem;
$font-size-4: 3rem;
$font-size-4: 4rem;
$font-size-5: 5rem;
