$spacing-1rem: 1rem;
$spacing-05rem: 0.5rem;
$spacing-025rem: 0.25rem;
$spacing-043rem: 0.43rem;
$spacing-065rem: 0.65rem;
$spacing-075rem: 0.75rem;
$spacing-083rem: 0.83rem;
$spacing-2rem: 2rem;
$spacing-3rem: 3rem;
$spacing-4rem: 4rem;