@use '../../scss' as *;

.back-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-blue;
    gap: $spacing-025rem;
    
    .back-nav-link {
        font-weight: $weight-regular;
        font-size: $font-size-12;
        text-decoration: underline;
        cursor: pointer;
        user-select: none;

    }

    svg {
        font-size: $font-size-05;
    }
}